.breadcrumb {
    padding: 1em 0em .1em .5em;
    margin: 0px auto 15px;
    position: relative;
    &:before{
        content: '';
        width: 6px;
        height: 13px;
        background-color: nth($lightColor,$style);
        position: absolute;
        left:0;
        top:20px;
    }
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }

        }
    }
    a {
        @include aSetting_nocolor;
    }
}